/* body {
    background-color: #FEFAE0;
    color: #5F6F52;
    font-family: 'Texturina', serif;
}

h1, h2, h3 {
    color: #5F6F52;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
}

.sidebar .sidebar-content {
    background-color: #5F6F52;
    color: #FEFAE0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.stButton>button {
    background-color: transparent;
    border: 2px solid #5F6F52;
    color: #5F6F52;
    font-weight: bold;
    border-radius: 25px;
    padding: 8px 25px;
    transition: 0.3s ease;
}
.stButton>button:hover {
    background-color: #5F6F52;
    color: #FEFAE0;
}

.uploadedFile {
    text-align: center;
} */
